* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}


body {
	font-family: 'Roboto', sans-serif;
	
}

.carousel {
	width: 80%;
	margin: auto;
}



.carousel-item .active {
	width: 80%;
	margin: auto;
}

.bottom {
	background-color: #2E2E2E;
/*	height: 100px;*/
	margin: auto;
}

.container {
	width: 100%;

}


.navbar {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 4;

}
.navbar-brand {
	width: 50%;
}

.nav-link {
	font-family: 'Caveat Brush', cursive;
	font-size: 1.15em;
}

.dropdown-item {
	font-family: 'Caveat Brush', cursive;

}

.dropdown-item:hover{
	background-color: grey;

}

.dropdown-item:active{
	background-color: white;

}


.footer {
	height: 90px;
	
}


.feedback-article {
	min-height: 350px;
	
	margin: auto;


}

.article {
	border: 1px solid black;
	min-height: 100%;
	padding: 10px;
}



.news-label {
	font-size: 2em;
	text-align: center;
	margin: auto;
}

.newsheading {
	margin: auto;
	padding: 10px;
}

.logo {
	
	width: 30%;
	height: 10%;
	padding: 0px;

	
}


.lead {

	color: #262626;
	font-size: 16px;
}




.display-4 {
	color: #E7E7E7;
	font-family: 'Patua One', cursive;
}


.section {
	color: #E7E7E7;
	padding: 20px;
	text-align: center;
	font-family: 'Caveat Brush', cursive;
}

.fab {

	color: #E7E7E7;
	font-size: 50px;
	margin: 0 10px;

}

.main-about {
	top: 100px;
	background-color: #E7E7E7;
		
}

.contact-section, .location-section {
	padding: 70px;
	color: #262626;

}

.contact {
	background-color: white;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.courses-heading {
	padding-top: 30px;
	font-family: 'Permanent Marker', cursive;
	font-size: 4em;
	color: #262626;
}


.text-muted {
	font-size: 18px;
}

.btn {
	margin: 0 auto;
	display: block;
	width: 25%;
	background-color: #C48F39;
	border: none;
	box-shadow: 5px 5px #E8E8E8;

}
.btn:hover {
	background-color: #C48F39;
	border: none;
	box-shadow: 5px 10px #E8E8E8;
}

.rounded-circle {
	margin: auto;
	display: block;
	
}


.feedback-head {
	color: #262626;E7;
	font-family: 'Patua One', cursive;
}


@media only screen and (max-width: 400px) {
	.contact-section, .location-section {
		padding-left: 2px;
		padding-right: 2px;
	}
	.contact {
		padding-left: 10px;
		padding-right: 10px;
	}
}


/*Tablets*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.contact-section, .location-section{
		padding-left: 10px;
		padding-right: 10px;
	}
	.contact {
		padding-left: 20px;
		padding-right: 20px;
	}
}















