* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Roboto', sans-serif;
}


.bottom {
	background-color: #2E2E2E;
/*	height: 100px;*/
	margin: auto;
}

.container {
	width: 100%;

}


.navbar {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 4;

}
.navbar-brand {
	width: 50%;
}

.nav-link {
	font-family: 'Caveat Brush', cursive;
	font-size: 1.15em;
}

.dropdown-item {
	font-family: 'Caveat Brush', cursive;

}

.dropdown-item:hover{
	background-color: grey;

}

.dropdown-item:active{
	background-color: white;

}


.footer {
	height: 90px;
	
}


.feedback-article {
	min-height: 350px;
	
	margin: auto;


}

.article {
	border: 1px solid black;
	min-height: 100%;
	padding: 10px;
}



.logo {
	
	width: 30%;
	height: 10%;
	padding: 0px;	
}


.lead {

	color: #262626;
	font-size: 16px;

}

.courses-bg {
	background-color: white;
	padding: 30px 30px 10px 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}




.display-4 {
	color: #E7E7E7;
	font-family: 'Patua One', cursive;

}


.section {
	color: #E7E7E7;
	padding: 20px;
	text-align: center;
	font-family: 'Caveat Brush', cursive;
}

.fab {

	color: #E7E7E7;
	font-size: 50px;
	margin: 0 10px;

}

.main-about {
	top: 100px;
	
}


.courses {
	/*background-color: #E7E7E7;*/
	background-image: url(../image/courses-bg.jpg);
	
	background-size: cover;
    background-position: center center;
    background-attachment: fixed;



	
}

.courses-section {

	padding: 70px;
}

.courses-heading {
	padding-top: 30px;
	font-family: 'Permanent Marker', cursive;
	font-size: 4em;
	letter-spacing: 10px;
}


.featurette-divider {
  margin: 3rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 10px;
}

.text-muted {
	font-size: 18px;
}

.btn {
	background-color: #C48F39;
	border: none;
	box-shadow: 5px 5px #E8E8E8;
	

}
.btn:hover {
	background-color: #C48F39;
	border: none;
	box-shadow: 5px 10px #E8E8E8;
}

@media only screen and (max-width: 400px) {
	#programHeading {
		font-size: 250%;
		text-align: center;
	}
	.featurette-image {
		margin-top: 20px;
	}
	.lead {
		font-size: 60%;
	}
	.courses-section {
		padding-right: 0;
		padding-left: 0;
	}
}


/*Tablets*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	#programHeading {
		font-size: 300%;
		text-align: center;	
	}
	.lead {
		font-size: 80%;
	}
	.courses-section {
		padding-right: 10px;
		padding-left: 10px;
	}
}

.bgo {
	background-color: rgba(220, 220, 220, 0.75);
	width: 100%;
	
}

#backtotop {
	position: fixed;
	bottom: 10px;
	color: white;
	background-color: grey;
	cursor: pointer;
	right: 20px;
	z-index: 1;
	display: none;
	padding: 10px;
	border-radius: 10px;
	opacity: 5;
}











