* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}


body {
	font-family: 'Roboto', sans-serif;
	
}




.carousel-item .active {
	width: 80%;
	margin: auto;
}

.bottom {
	background-color: #2E2E2E;
/*	height: 100px;*/
	margin: auto;
}

.container {
	width: 100%;

}


.navbar {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 4;

}
.navbar-brand {
	width: 50%;
}

.nav-link {
	font-family: 'Caveat Brush', cursive;
	font-size: 1.15em;
}

.dropdown-item {
	font-family: 'Caveat Brush', cursive;

}

.dropdown-item:hover{
	background-color: grey;

}

.dropdown-item:active{
	background-color: white;

}




.footer {
	height: 90px;
	
}

/*.news-article {
	min-height: 500px;
	max-height: 700px;
	margin: auto;


}*/

.feedback-article {
	min-height: 350px;
	
	margin: auto;


}

.article {
	border: 1px solid black;
	min-height: 100%;
	padding: 10px;
}



.news-label {
	font-size: 2em;
	text-align: center;
	margin: auto;
}

.newsheading {
	margin: auto;
	padding: 10px;
}

.logo {
	
	width: 30%;
	height: 10%;
	padding: 0px;

	
}


.lead {

	color: #262626;
	font-size: 16px;
}




.display-4 {
	color: #E7E7E7;
	font-family: 'Patua One', cursive;
}


.section {
	color: #E7E7E7;
	padding: 20px;
	text-align: center;
	font-family: 'Caveat Brush', cursive;
}

.fab {

	color: #E7E7E7;
	font-size: 50px;
	margin: 0 10px;

}
.main-about {
	top: 100px;
	
}


.courses {

	background-color: #E7E7E7;



	
}

.courses-section {

	padding: 70px;
	color: #262626;


}

.courses-heading {
	padding-top: 30px;
	font-family: 'Permanent Marker', cursive;
	font-size: 4em;
	color: #262626;
}



.card-deck {
	margin-top: 20px;
}

.card-img-top {
	padding: 20px;
}


.card-body {
	text-align: center;
}

.card { 

	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 font-family: 'Roboto', sans-serif;
}

.card-title {
	font-family: 'Patua One', cursive;
}


@media only screen and (max-width: 400px) {
	.card-img-top {
		height: 20%;
	}
}


/*Tablets*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.card-img-top {
		height: 30%;
	}











