* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	font-family: 'Roboto', sans-serif;
}

.carousel-item > img {
	opacity: 0.75;
	filter: alpha(opacity=75)

	

}



/*img[class*=d-block]{

	height: 800px;
}
*/

.bottom {
	background-color: #2E2E2E;
/*	height: 100px;*/
	margin: auto;
}

.container {
	width: 100%;
}


.navbar {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 4;

}
.navbar-brand {
	width: 50%;
}

.nav-link {
	font-family: 'Caveat Brush', cursive;
	font-size: 1.15em;
}

.dropdown-item {
	font-family: 'Caveat Brush', cursive;

}

.dropdown-item:hover{
	background-color: grey;

}

.dropdown-item:active{
	background-color: white;

}


.carousel-caption {
	font-family: 'Permanent Marker', cursive;
}

/*#navbar-nav {

	width: 70%;


}
*/

/*.content {
	background-color: white;
	height: 700px;
	margin: 50px auto;

}*/

.menu {
	margin: auto;
}

.footer {
	height: 90px;
	
}

/*.news-article {
	min-height: 500px;
	max-height: 700px;
	margin: auto;


}*/

.feedback-article {
	min-height: 350px;
	
	margin: auto;


}

.article {
	border: 1px solid black;
	min-height: 100%;
	padding: 10px;
}

/*.disclaimer {
	border: 1px solid black;
	height: 100%;
}*/

.guitar-level {
	background-color: grey;
	margin: 20px auto;
	height: 80%;
}

.news-label {
	font-size: 2em;
	text-align: center;
	margin: auto;
}

.newsheading {
	margin: auto;
	padding: 10px;
}

.logo {
	
	width: 30%;
	height: 10%;
	padding: 0px;

	
}

.big-logo {
	position: absolute;

	
	z-index: 3;
	width: 80%;
/*	height: 120%;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content {
	position: relative;
	top: 25px;
}

.lead {

	color: #D0D0D0;
}


.jumbotron {
	background-color: #2E2E2E;
	margin-top: 0px;


	
}

.display-4 {
	color: #E7E7E7;
	font-family: 'Patua One', cursive;
}
.join {
	margin-top: 24px;

}
form {
	margin-top: 20px;
	padding: 20px;
	background-color: #E5E5E5;
		
}

/*.marketing {
	background-color: #DBDBDB;
	padding: 10px;
}*/

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
  font-family: 'Patua One', cursive;

}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  color: #2E2E2E;
}

.section {
	color: #E7E7E7;
	padding: 20px;
	text-align: center;
	font-family: 'Caveat Brush', cursive;
}

.fab {

	color: #E7E7E7;
	font-size: 50px;
	margin: 0 10px;

}











