.carousel-item > img {
	opacity: 0.75;
	filter: alpha(opacity=75)
	

}



/*img[class*=d-block]{

	height: 800px;
}
*/

.bottom {
	background-color: skyblue;
	height: 100px;
	margin: auto;
}

.container {
	background-color: grey;
}


.navbar {
	position: fixed;
	width: 100%;
	z-index: 4;

}
.navbar-brand {
	width: 50%;
}

/*#navbar-nav {

	width: 70%;


}
*/

/*.content {
	background-color: white;
	height: 700px;
	margin: 50px auto;

}*/

.menu {
	margin: auto;
}

.footer {
	height: 90px;
	background-color: skyblue;
}

.news-article {
	min-height: 500px;
	max-height: 700px;
	margin: auto;


}

.feedback-article {
	min-height: 350px;
	
	margin: auto;


}

.article {
	border: 1px solid black;
	min-height: 100%;
	padding: 10px;
}

.disclaimer {
	border: 1px solid black;
	height: 100%;
}

.guitar-level {
	background-color: grey;
	margin: 20px auto;
	height: 80%;
}

.news-label {
	font-size: 2em;
	text-align: center;
	margin: auto;
}

.newsheading {
	margin: auto;
	padding: 10px;
}

.logo {
	
	width: 30%;
	height: 10%;
	padding: 0px;

	
}

.big-logo {
	position: absolute;

	
	z-index: 3;
	width: 80%;
/*	height: 120%;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content {
	position: relative;
	top: 25px;
}










